/* @import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css'; */

$lightBlue: rgb(229, 238, 247);
$lightPink: rgb(247, 231, 231);
$grey: grey;
$darkgrey: rgb(71, 70, 70);
$white: white;
$blue: rgb(72, 157, 255);
$shadow1:  rgba(0, 0, 0, 0.2);
$shadow2: rgba(0, 0, 0, 0.19);
$pink: rgb(235, 143, 143);

$mainFont: 'Montserrat', sans-serif;
$fancyFont: 'Special Elite', cursive;

$boxShadow: 0 4px 8px 0 $shadow1, 0 6px 20px 0 $shadow2 !important;

// App
#root {
  background-color: $lightBlue;
  width: 100vw;
  min-height: 100vh;
 }

// Causes

.cause-title {
  font-family: $mainFont;
  color: $grey;
  font-size: 15px;
}

.icon {
  color: $blue;
  font-size: 35px;
  padding: 5px;
}

#select-causes input[type="radio"] {
  display: none;
}

#select-causes {
  height: 130px;
  width: 130px;
  padding: 20px 5px 5px 5px;
  text-align: center;
  box-shadow: $boxShadow;
  border: none !important;
  background-color: $lightPink !important;
}

#cause-div {
  display: inline-block;
  margin: 10px;
}

#interest {
  color: $grey;
  font-family: $mainFont;
  padding: 40px 0 10px 0;
}

#select-causes input[type="radio"]:checked + span {
  background-color: $pink !important;
  color: $white;
}

#city-name, #state-name {
  margin-right: 5px;
  width: 240px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  font-family: $mainFont;
}

// EventsCal
#calendar {
  margin: 5px !important;

}

h2.fc-toolbar-title {
  font-size: 20px !important;
}

.fc-today-button, .fc-prev-button, .fc-next-button{
  background-color: $blue !important;
  border: none !important;

}

.fc-daygrid-day-number, .fc-col-header-cell-cushion  {
  color: $pink !important;
}

// Featured
.card {
  box-shadow: $boxShadow;
  position: relative;
  padding: 20px;
}

#calendar-card {
  margin-bottom: 100px;
}

h2 {
  font-family: $mainFont;
  text-align: center;
  padding: 20px;
  color: $grey;
}

#featured-background {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  background-color: $lightPink;
}

#org-photo {
  max-width: 100%;
  opacity: 60%;
  box-shadow: $boxShadow;
}

#details {
  font-family: $mainFont;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  color: $darkgrey;
}

#website {
  text-decoration: none;
  color: $blue;
}

#volunteer-btn, #donate-btn {
  width: 200px;
  height: 60px !important;
  margin: .5%;
  margin-bottom: 20px !important;
  background-color: $grey !important;
  font-family: $mainFont;
  font-size: 18px;
  box-shadow: $boxShadow;
  border: none !important;
 
}

#volunteer-link, #donate-link {
  text-decoration: none !important;
  color: $white;
}

.btn-center {
  text-align: center;
}

.modal-button {
  color: $darkgrey;
}

// Footer

footer {
  margin-top: 20px;
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  font-family: $fancyFont;
  padding: 10px;
  text-align: center;
  color: $white;
  background-color: $grey;
  font-weight: bolder;
  font-size: 16px;
}

// Header
header {
  width: 100vw;
  height: 330px;
  position: relative;
  background-image: url("./components/Header/handslink.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}


h1 {
  font-size: 32px !important;
  font-family: $fancyFont;
  margin-left: 4%;
  color: $darkgrey;


}

#header-div {
  display: inline-block;
}

nav {
  float: right;
  height: 40px !important;
  padding: 0px;
  background-color: $lightBlue !important;
}

.nav-link{
  font-family: $mainFont;
  color: $grey !important;
  font-size: 16px;
  padding-left: 6px !important;
  padding-right: 0px !important;
} 


.and {
  font-size: 48px;
  padding: 2px;
  color: $pink;
}
.marquee {
  height: 40px;
  overflow:hidden;
  white-space: nowrap;
  position: absolute;
  bottom: 5px;
  padding: 10px;
  background-color: $white;
  font-family: $fancyFont;
}

#marquee-text {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $fancyFont;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 30s linear infinite;
}
@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

// Login

.login-form {
  width: 100%;
  height: 300px;
  margin: 40px 0px 100px 0px;
  color: $darkgrey;
  padding: 20px;
  font-family: $mainFont;
  font-size: 22px;
  background-color: $lightPink;
  box-shadow: $boxShadow;
}

.loginInput {
  margin: 10px;

}

.inputLogin {
  width: 200px;
  float: right;
} 

.loginBtn {
  background-color: $grey !important;
  color: $white !important;
  font-family: $mainFont;
  width: 200px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
  box-shadow: $boxShadow;
}

// Search 
#search-btn {
  background-color: $grey !important;
  color: $white;
  font-family: $mainFont;
  margin: 40px 0px 100px 0px;
  width: 88%;
  height: 60px;
  font-size: 28px;
  box-shadow: $boxShadow;
  border: none;
}

// SearchResults
#org-details {
  font-family: $mainFont;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: $grey;
}

#search-results-div {
  max-width: 340px;
  margin: 40px 10px;
  display:inline-block;
}
#org-name {
  font-size: 18px;
}
#org-img {
 max-width: 300px; 
 max-height: auto;
 opacity: 60%;
 box-shadow: $boxShadow;
}

#org-volunteer, #org-donate, .modal-button {
  width: 110px;
  height: 50px;
  display: inline-block;
  font-size: 14px;
  margin: 0 .5%;
  margin-bottom: 20px !important;
  background-color: $grey !important;
  color: $white !important;
  font-family: $mainFont;
  box-shadow: $boxShadow;
  border: none !important;
}


// Media Queries
@media only screen and (max-width: 1200px) {
  header {
    height: 280px;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    height: 250px;
  }
}
@media only screen and (max-width: 991px) {
	nav {
    background-color: transparent !important;
  }
  header {
    height: 220px;
  }

  .nav-link {
    padding: 2px !important;
    font-size: 14px;
    width: 120px;
    text-align: center;
    background-color: $white !important;
    color: $grey !important;
  }

  .navbar-toggler {
    margin-bottom: 8px !important;
    width: 120px;
    background-color: $lightBlue !important;
    color: $white !important;
  }

}

@media only screen and (max-width: 768px) {
  header {
    height: 185px;
  }

}
@media only screen and (max-width: 670px) {
  #local-events-h2 {
    font-size: 20px !important;
    padding: 0px;
    
  }

  .fc {
    height: 550px;
  }

  #calendar-card {
    height: 600px;
  }

  .fc-toolbar-title {
    font-size: 16px;
  }

  .fc-header-toolbar {
    margin-bottom: 10px !important;
  }
  .fc-today-button, .fc-prev-button, .fc-next-button{
    height: 30px;
    font-size: 12px !important;
  }

}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 24px !important;
    width: 50%;
    margin-right: 0 !important;
  }

  .and {
    font-size: 38px !important;
  }
}

@media only screen and (max-width: 500px) {
  label, .inputLogin {
    font-size: 16px;
  }
  .inputLogin, .loginBtn {
    width: 180px;
  }
}

@media only screen and (max-width: 350px) {
  .inputLogin, .loginBtn {
    width: 140px;
  }
}




.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}