/* @import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css'; */

$lightBlue: rgb(229, 238, 247);
$lightPink: rgb(247, 231, 231);
$grey: grey;
$darkgrey: rgb(71, 70, 70);
$white: white;
$blue: rgb(72, 157, 255);
$shadow1:  rgba(0, 0, 0, 0.2);
$shadow2: rgba(0, 0, 0, 0.19);
$pink: rgb(235, 143, 143);

$mainFont: 'Montserrat', sans-serif;
$fancyFont: 'Special Elite', cursive;

$boxShadow: 0 4px 8px 0 $shadow1, 0 6px 20px 0 $shadow2 !important;

// App
#root {
  background-color: $lightBlue;
  width: 100%;
 }

// Causes

.cause-title {
  font-family: $mainFont;
  color: $grey;
  font-size: 15px;
}

.icon {
  color: $blue;
  font-size: 35px;
  padding: 5px;
}

#select-causes input[type="radio"] {
  display: none;
}

#select-causes {
  height: 130px;
  width: 130px;
  padding: 20px 5px 5px 5px;
  text-align: center;
  box-shadow: $boxShadow;
  border: none !important;
  background-color: $lightPink !important;
}

#cause-div {
  display: inline-block;
  margin: 10px;
}

#interest {
  color: $grey;
  font-family: $mainFont;
  padding: 40px 0 10px 0;
}

#select-causes input[type="radio"]:checked + span {
  background-color: $pink;
  color: $white;
}

#city-name, #state-name {
  margin-right: 5px;
  width: 240px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  font-family: $mainFont;
}

// EventsCal
#calendar {
  margin: 5px !important;

}

h2.fc-toolbar-title {
  font-size: 20px !important;
}

// Featured
.card {
  box-shadow: $boxShadow;
  position: relative;
  padding: 20px;
}

h2 {
  font-family: $mainFont;
  text-align: center;
  padding: 20px;
  color: $grey;
}

#featured-background {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  background-color: $lightPink;
}

#org-photo {
  max-width: 100%;
  opacity: 60%;
  box-shadow: $boxShadow;
}

#details {
  font-family: $mainFont;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  color: $grey;
}

#website {
  text-decoration: none;
  color: $blue;
}

#volunteer-btn, #donate-btn {
  width: 200px;
  height: 60px;
  margin: .5%;
  margin-bottom: 20px !important;
  background-color: $grey !important;
  color: $lightPink !important;
  font-family: $mainFont;
  font-size: 18px;
  box-shadow: $boxShadow;
  border: none !important;
 
}

.btn-center {
  text-align: center;
}

// Footer

footer {
  margin-top: 20px;
  height: 40px;
  font-family: $fancyFont;
  padding: 10px;
  text-align: center;
  color: $white;
  background-color: $grey;
  font-weight: bolder;
  font-size: 16px;
}

// Header
header {
  max-width: 100%;
  height: 330px;
  background-image: url("./components/Header/handslink.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}


h1 {
  font-size: 32px !important;
  font-family: $fancyFont;
  margin-left: 4%;
  color: $darkgrey;

}
nav {
  float: right;
  height: 40px !important;
  padding: 0px;
  background-color: $lightBlue !important;
}

.nav-link{
  font-family: $mainFont;
  color: $grey !important;
  font-size: 16px;
  padding-left: 6px !important;
  padding-right: 0px !important;
} 


span {
  font-size: 48px;
  padding: 2px;
  color: $pink;
}

// Login

.login-form {
  width: 80%;
  height: auto;
  margin: 40px 0px 100px 0px;
  display: inline-block;
  color: $darkgrey;
  padding: 20px;
  font-family: $mainFont;
  font-size: 22px;
  font-weight: bold;
  background-color: $lightPink;
}

.loginInput {
  margin: 10px;
}

.inputLogin {
  width: 252px;
  float: right;
} 

.loginBtn {
  background-color: $grey !important;
  width: 252px;
  float: right;
  margin-right: 10px;
  font-weight: bold;
}

// Search 
#search-btn {
  background-color: $grey !important;
  color: $white;
  font-family: $mainFont;
  margin: 40px 0px;
  width: 88%;
  height: 60px;
  font-size: 28px;
  box-shadow: $boxShadow;
  border: none;
}

// SearchResults
#org-details {
  font-family: $mainFont;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: $grey;
}

#search-results-div {
  max-width: 340px;
  margin: 40px 10px;
  display:inline-block;
}
#org-name {
  font-size: 18px;
}
#org-img {
 max-width: 300px; 
 max-height: auto;
 opacity: 60%;
 box-shadow: $boxShadow;
}

#org-volunteer, #org-donate {
  width: 110px;
  height: 50px;
  display: inline-block;
  font-size: 14px;
  margin: 0 .5%;
  margin-bottom: 20px !important;
  background-color: $grey !important;
  color: $white !important;
  font-family: $mainFont;
  box-shadow: $boxShadow;
  border: none !important;
}


// Media Queries
@media only screen and (max-width: 991px) {
	nav {
    background-color: transparent !important;
  }

  .nav-link {
    margin-top: 10px;
    padding: 2px !important;
    font-size: 14px;
    background-color: $lightBlue !important;
  }
}

@media only screen and (max-width: 768px) {
  

}
