// // // // VARIABLES // // // // 

$lightBlue: rgb(229, 238, 247);
$lightPink: rgb(247, 231, 231);
$grey: grey;
$darkgrey: rgb(71, 70, 70);
$white: white;
$blue: rgb(72, 157, 255);
$shadow1:  rgba(0, 0, 0, 0.2);
$shadow2: rgba(0, 0, 0, 0.19);
$pink: rgb(235, 143, 143);

$mainFont: 'Montserrat', sans-serif;
$fancyFont: 'Special Elite', cursive;

$boxShadow: 0 4px 8px 0 $shadow1, 0 6px 20px 0 $shadow2 !important;



// // // // APP // // // // 
#root {
  background-color: $lightBlue;
  width: 100vw;
  min-height: 100vh;
 }


// // // // CAUSES // // // // 

.cause-title {
  font-family: $mainFont;
  color: $grey;
  font-size: 15px;
}

.icon {
  color: $blue;
  font-size: 35px;
  padding: 5px;
}

#select-causes input[type="radio"] {
  display: none;
}

#select-causes {
  height: 130px;
  width: 130px;
  padding: 20px 5px 5px 5px;
  text-align: center;
  box-shadow: $boxShadow;
  border: none !important;
  background-color: $lightPink;
}

#cause-div {
  display: inline-block;
  margin: 10px;
}

#interest {
  color: $grey;
  font-family: $mainFont;
  padding: 40px 0 10px 0;
}

#select-causes input[type="radio"]:checked + span {
  background-color: $pink !important;
  color: $white;
}


#city-name, #state-name {
  margin-right: 5px;
  width: 240px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  font-family: $mainFont;
}


// // // // EVENTS CAL // // // // 


#calendar {
  margin: 5px !important;
  width: 100%;

}

.fc-toolbar-title {
  font-size: 20px !important;
}

.fc-today-button, .fc-prev-button, .fc-next-button, .fc-dayGridMonth-button, .fc-timeGridWeek-button , .fc-timeGridDay-button {
  background-color: $blue !important;
  border: none !important;

}

.fc-dayGridMonth-button, .fc-timeGridWeek-button , .fc-timeGridDay-button {
  width: 60px;
  font-size: 12px !important;
  margin-right: 2px !important;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion  {
  color: $pink !important;
}



// // // // FEATURED // // // // 


h2 {
  font-family: $mainFont;
  text-align: center;
  padding: 20px;
  color: $grey;
}

.card {
  box-shadow: $boxShadow;
  position: relative;
  padding: 20px;
}


.btn-center {
  text-align: center;

}

#calendar-card {
  height: 88%;
  margin: 50px 5px 100px 5px;
}

#featured-background {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  background-color: $lightPink;
}

#org-photo {
  max-width: 100%;
  filter: opacity(60%);
  box-shadow: $boxShadow;
}

#details {
  font-family: $mainFont;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  color: $darkgrey;
}

#website {
  text-decoration: none;
  color: $blue;
}

#volunteer-btn, #donate-btn {
  width: 200px;
  height: 60px !important;
  margin: .5%;
  margin-bottom: 20px !important;
  background-color: $grey !important;
  font-family: $mainFont;
  font-size: 18px;
  box-shadow: $boxShadow;
  border: none !important;
 
}

#volunteer-link, #donate-link {
  text-decoration: none !important;
  color: $white;
}



// // // // FOOTER // // // // 


footer {
  margin-top: 20px;
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  font-family: $fancyFont;
  padding: 15px;
  text-align: center;
  color: $white;
  background-color: $grey;
  font-weight: bolder;
  font-size: 16px;
}


// // // // HEADER // // // // 

header {
  width: 100vw;
  height: 330px;
  position: relative;
  background-image: url("./components/Header/handslink.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}


h1 {
  font-size: 32px !important;
  font-family: $fancyFont;
  margin-left: 4%;
  color: $darkgrey;


}

#header-div {
  display: inline-block;
}

nav {
  float: right;
  z-index: 1;
  height: 40px !important;
  padding: 0px;
  background-color: $lightBlue !important;
}

.nav-link{
  font-family: $mainFont;
  color: $grey !important;
  font-size: 16px;
  padding-left: 6px !important;
  padding-right: 0px !important;
} 


.and {
  font-size: 48px;
  padding: 2px;
  color: $pink;
}

.marquee-wrapper {
  overflow: hidden;
  position: relative;
  margin-top: 220px;
  background-color: $white;
  height: 40px;
}

.marquee-wrapper::before {
  content: '\00a0';
}

.marquee-scrolling {
  animation: marquee 30s linear infinite;
  display: block;
  min-width: 100%;
  position: absolute;
  left: 0;
  top:0;
  white-space: nowrap;
}

#marquee-text {
  font-size: 22px;
  padding: 10px !important;
  font-family: $fancyFont;
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}


// // // // LOGIN // // // // 

.login-form {
  width: 100%;
  height: 300px;
  margin: 40px 0px 100px 0px;
  color: $darkgrey;
  padding: 20px;
  font-family: $mainFont;
  font-size: 22px;
  background-color: $lightPink;
  box-shadow: $boxShadow;
}

.loginInput {
  margin: 10px;

}

.inputLogin {
  width: 200px;
  float: right;
} 

.loginBtn {
  background-color: $grey !important;
  color: $white !important;
  font-family: $mainFont;
  width: 200px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
  box-shadow: $boxShadow;
}

.login-link {
  color: $blue !important;
  font-size: 18px;
  display: inline-block;
}


// // // // SEARCH // // // // 

#results-h2 {
  margin: 20px 10px;
}

#search-btn {
  background-color: $grey !important;
  color: $white;
  font-family: $mainFont;
  margin: 40px 0px 100px 0px;
  width: 88%;
  height: 60px;
  font-size: 28px;
  box-shadow: $boxShadow;
  border: none;
}


// // // // SEARCH RESULTS // // // // 

#org-details {
  font-family: $mainFont;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: $grey;
}

#charity-card {
  max-width: 440px;
  margin: 40px 10px 100px 10px;
  background-color: $white;
  box-shadow: $boxShadow;
  display: inline-block;
}

#charity-title {
  font-size: 22px;
  padding: 10px;
  color: $blue !important;
  font: $mainFont;
}


#charity-mission {
  font-size: 16px;
  color: $grey;
  font: $mainFont;
}

#org-volunteer, #org-donate, .modal-button {
  width: 110px;
  height: 50px;
  display: inline-block;
  font-size: 14px;
  margin: 0 .5%;
  margin-bottom: 20px !important;
  background-color: $grey !important;
  color: $white !important;
  font-family: $mainFont;
  box-shadow: $boxShadow;
  border: none !important;
}

.modal-button {
  margin: 0 1%;
  height: 50px !important;
  background-color: $pink !important;

}


// // // // SIDEBAR // // // // 

.demo-app {
  display: block;
  min-height: 100%;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 100%;
  line-height: 1.5;
  margin: 50px 0px 100px 0px;
}

.demo-app-sidebar-section {
  padding: 1.5em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 1em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}


// // // // MODAL // // // // 

#modal-center {
  text-align: center;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

#sidebar-card {
  background-color: $lightBlue;
  height: 90%;
}
.sidebar-h2 {
  font-size: 18px;
  padding: 20px 0px;
}

.sidebar-li, #sidbar-check {
  font-size: 18px !important;
  font-family: $mainFont !important;
  padding: 10px 10px 0 10px;
  margin: 2px;
}

#checkbox, li::marker {
  margin-right: 5px;
}


// // // // MEDIA QUERIES // // // // 

@media only screen and (max-width: 1200px) {
  header {
    height: 280px;
  }
  .marquee-wrapper {
    margin-top: 190px;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    height: 250px;
  }
  .marquee-wrapper {
    margin-top: 160px;
  }
}
@media only screen and (max-width: 991px) {
	nav {
    background-color: transparent !important;
  }
  header {
    height: 220px;
  }
  .marquee-wrapper {
    margin-top: 130px;
  }

  .nav-link {
    padding: 2px !important;
    font-size: 14px;
    width: 120px;
    text-align: center;
    background-color: $white !important;
    color: $grey !important;
  }

  .navbar-toggler {
    margin-bottom: 8px !important;
    width: 120px;
    background-color: $lightBlue !important;
    color: $white !important;
  }

}

@media only screen and (max-width: 768px) {
  header {
    height: 185px;
  }
  .marquee-wrapper {
    margin-top: 82px;
  }
  .fc-daygrid-more-link, .fc-daygrid-day-number {
    font-size: 10px;
  }
  .modal-button {
    width: 110px;
    font-size: 13px;
  }

}
@media only screen and (max-width: 670px) {
  #local-events-h2 {
    font-size: 20px !important;
    padding: 30px 0 20px 0;
    
  }
  .fc {
    height: 550px;
  }
  .fc-toolbar-title{
    font-size: 12px !important;
  }
  .fc-header-toolbar {
    margin-bottom: 10px !important;
  }
  .fc-today-button, .fc-prev-button, .fc-next-button{
    height: 24px;
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 24px !important;
    width: 50%;
    margin-right: 0 !important;
  }
  .and {
    font-size: 38px !important;
  }
  label, .inputLogin {
    font-size: 16px;
  }
  .inputLogin, .loginBtn {
    width: 180px;
  }

  .fc-dayGridMonth-button, .fc-timeGridWeek-button , .fc-timeGridDay-button {
    width: 50px;
    font-size: 10px !important;
  }

  .modal-button {
    width: 80px;
    height: 40px !important;
    font-size: 10px;
  }

  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

@media only screen and (max-width: 350px) {
  .inputLogin, .loginBtn {
    width: 140px;
  }
}


