.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    padding: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    color: grey;
}

#featured-background {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    background-color: rgb(247, 231, 231);
}

#org-photo {
    max-width: 100%;
    opacity: 60%;
}

#details {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    color: grey;
}

#website {
    text-decoration: none;
    color: rgb(91, 163, 247);
}

#volunteer-btn, #donate-btn {
    width: 200px;
    height: 60px;
    margin-left: 42%;
    margin-bottom: 20px !important;
    background-color: grey !important;
    color:rgb(247, 231, 231) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}