header {
    max-width: 100%;
    height: 330px;
    background-image: url("./handslink.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: 32px !important;
    font-family: 'Special Elite', cursive;
    margin-left: 4%;
    color: grey;
    animation-duration: 2s;
    animation-name: slidein;

}
nav {
    float: right;
    height: 40px !important;
    background-color: rgb(229, 238, 247);
    opacity: 90%;
    padding: 0px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: grey !important;
    font-size: 16px;
    padding-left: 6px !important;
    padding-right: 0px !important;
} 




@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 4%;
    width: 100%;
  }

}

span {
    font-size: 48px;
    padding: 2px;
    color: rgb(235, 143, 143);
}


