.header {
    color: grey;
    font-size: 30px;
    display: inline;
}

.and {
    color: red;
    font-size: 50px;
}

.zip {
    display: inline;
    margin-left: 40px;
}

.zipSearch {
    height: 30px;
}

.searchBtn {
    height: 30px;
}
