#search-btn {
   background-color: rgb(247, 231, 231) !important;
   color: rgb(72, 157, 255);
   font-family: 'Montserrat', sans-serif;
   width: 80px;
}

#city-name, #state-name {
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
}

